services:
  # etl_app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: etl_app
  #   env_file:
  #     - ./config/.env
  #   volumes:
  #     - ./src:/app/src
  #     - ./config:/app/config
  #     - ./data:/app/data
  #     - ./logs:/app/logs
  #   depends_on:
  #     - minio
  #     - postgres

  minio:
    image: minio/minio:latest
    container_name: minio
    env_file:
      - ./config/.env
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  postgres:
    image: postgres
    container_name: postgres
    env_file:
      - ./config/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - ./config/.env
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  minio_data:
  pgdata:
